@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
    scroll-behavior: smooth;
}

.aboutImg {
    position: relative;
    z-index: 1;
}

.aboutImg img {
    width: 60%;
    height: auto;
    filter: opacity(0.3);
}

.aboutText {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 2;
}

.aboutText .text {
    color: orange;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.aboutText .headline {
    width: 100%;
    color: rgb(252, 228, 229);
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* .about-heading{
    color
} */

.about-heading p,
h1 {
    color: rgb(252, 228, 229) !important;
    margin: 0;
    padding: 0;
}

.about-heading h1 {
    font-size: 55px;
    font-weight: 500;
}

.about-heading p {
    font-size: 25px;
    font-weight: 300;
}

.para {
    color: rgb(252, 228, 229);
    font-size: 20px;
    text-align: justify;
    text-align-last: left;
}


.choose h1 {
    color: rgb(252, 228, 229);
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.front .container-fluid {
    animation: fadeIn 1.5s ease-out forwards;
}

.abt1,
.aboutText,
.aboutImg,
.col1-6,
.para,
.choose {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.abt1 {
    animation-delay: 0.5s;
}

.aboutText,
.aboutImg {
    animation-delay: 1s;
}

.col1-6 {
    animation-delay: 1.5s;
}

.para {
    animation-delay: 2s;
}

.choose {
    animation-delay: 2.5s;
}






@media screen and (max-width: 1500px) {
    .abt1 {
        display: flex;
        align-items: center;
    }

    .aboutImg img {
        width: 100%;
    }

    .aboutText {
        top: 29%;
        left: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .abt1 {
        width: 100%;
    }

    .aboutImg img {
        width: 90%;
    }

    .aboutText {
        top: 32%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 60px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }
}



@media screen and (max-width: 900px) {
    .aboutImg img {
        width: 70%;
    }
    .aboutText {
        top: 22%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 45px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .about-heading h1 {
        font-size: 50px;
    }

    .about-heading p {
        font-size: 25px;
    }

    .para {
        color: rgb(252, 228, 229);
        font-size: 20px;
        text-align: justify;
        text-align-last: left;
    }
}


/* @media screen and (max-width: 800px) {
    .aboutImg img {
        width: 60%;
    }

    .aboutText {
        top: 44%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .about-heading h1 {
        font-size: 45px;
    }

    .about-heading p {
        font-size: 22px;
    }

    .para {
        color: rgb(252, 228, 229);
        font-size: 21px;
        text-align: justify;
        text-align-last: left;
    }
} */

@media screen and (max-width: 800px) {
    .abt1 {
        width: 100%;
    }

    .aboutImg img {
        width: 50%;
    }

    .aboutText {
        top: 20%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .about-heading h1 {
        font-size: 45px;
    }

    .about-heading p {
        font-size: 22px;
    }

    .para {
        color: rgb(252, 228, 229);
        font-size: 21px;
        text-align: justify;
        text-align-last: left;
    }
}



@media screen and (max-width: 460px) {
    .abt1 {
        width: 100%;
    }

    .aboutImg img {
        width: 53%;
    }

    .aboutText {
        top: 12%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 32px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .about-heading h1 {
        font-size: 40px;
    }

    .about-heading p {
        font-size: 20px;
    }

    .para {
        color: rgb(252, 228, 229);
        font-size: 19px;
        text-align: justify;
        text-align-last: left;
    }
}

@media screen and (max-width: 380px) {
    .abt1 {
        width: 100%;
    }

    .aboutImg img {
        width: 45%;
    }

    .aboutText {
        top: 19%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .about-heading h1 {
        font-size: 37px;
    }

    .about-heading p {
        font-size: 17px;
    }

    .para {
        color: rgb(252, 228, 229);
        font-size: 15px;
        text-align: justify;
        text-align-last: left;
    }
}

@media screen and (max-width: 340px) {
    .abt1 {
        width: 100%;
    }

    .aboutImg img {
        width: 50%;
    }

    .aboutText {
        top: 17%;
        left: 10%;
    }

    .aboutText .text {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .aboutText .headline {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
    }

    .about-heading h1 {
        font-size: 35px;
    }

    .about-heading p {
        font-size: 15px;
    }

    .para {
        color: rgb(252, 228, 229);
        font-size: 13px;
        text-align: justify;
        text-align-last: left;
    }
}