
.contact-title .title{
    font-size: 50px;
    font-weight: 600;
}
.contact-title hr{
    width: 22%;
}

.hello-title .hello-text{
    font-size: 33px;
}

.contact-way .ways{
    font-size: 24px !important;
}

@media screen and (max-width:900px) {
    .contact-title .title{
        font-size: 40px;
    }
    .hello-title .hello-text{
        font-size: 30px;
    }    .contact-way .ways{
        font-size: 23px !important;
    }
    
}


@media screen and (max-width:780px) {
    .contact-title .title{
        font-size: 36px;
    }
    .hello-title .hello-text{
        font-size: 27px;
    }    .contact-way .ways{
        font-size: 21px !important;
    }
    
}


@media screen and (max-width:450px) {
    .contact-title .title{
        font-size: 33px;
    }
    .hello-title .hello-text{
        font-size: 24px;
    }
    .contact-way .ways{
        font-size: 20px !important;
    }
    
}

@media screen and (max-width:390px) {
    .contact-title .title{
        font-size: 30px;
    }
    .hello-title .hello-text{
        font-size: 22px;
    }
    .contact-way .ways{
        font-size: 18px !important;
    }
    
}