

.title span{
    font-weight: bolder;
    font-size: 24px;
}

.title .nav-link{
    color: rgb(28, 33, 28) !important;
    display: inline;
    font-size: 24px;
}

.title p{
    font-size: 22px;
    font-weight: 500;
}

.title-Des{
    font-size: 20px;
}

.project-div .project-title{
    padding-bottom: 35px !important;
}


@media screen and (max-width:780px){
    .title span{
        font-size: 23px;
    }
    .title .nav-link{
        font-size: 23px;
    }
    
    .title p{
        font-size: 21px;
    }
    .title-Des{
        font-size: 18px;
    }
}

@media screen and (max-width:460px){
    .title span{
        font-size: 21px;
    }
    .title .nav-link{
        font-size: 21px;
    }
    
    .title p{
        font-size: 19px;
    }
    .title-Des{
        font-size: 15px;
    }
}


@media screen and (max-width:330px){
    .title span{
        font-size: 19px;
    }
    .title .nav-link{
        font-size: 19px;
    }
    
    .title p{
        font-size: 18px;
    }
    .title-Des{
        font-size: 14px;
    }
}